table {
    position: relative;
    left: 50%;
    transform: translateX(-50%)
}

table::after {
    display: block;
    content: "";
    height: 100vh
}

table caption {
    font-size: 1.5rem;
    margin: 1rem
}
