header {
    border-bottom: thin solid slategray;
    font-size: 1.5em;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    background-color: black
}

@media (min-width: 961px) {
    header {
        position: sticky;
        top: 0
    }
}

header > * {
    margin: .25em 1em
}

header input {
    width: 3em;
    color: black;
    border-radius: .5em
}

header h1 {
    font-size: 1.5em;
    text-align: right;
    background-image: url(/images/icon.svg);
    background-repeat: no-repeat;
    height: 1.5em;
    width: 8em;
    padding-top: .5em
}

header .week-selector,
header .current-week {
    margin-top: .25em
}

header #week-selector {
    position: relative;
    top: -.25em
}
