header {
    border-bottom: thin solid slategray;
    font-size: 1.5em;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    position: sticky;
    background-color: black;
    top: 0;
    bottom: 0
}

header > * {
    margin: 0 1em
}

header input {
    width: 3em;
    color: black;
    border-radius: .5em
}

header h1 {
    font-size: 1.5em;
}

header .week-selector,
header .current-week {
    margin-top: .25em
}

header #week-selector {
    position: relative;
    top: -.25em
}
