#schedule {
    margin: auto
}

tbody {
    border-radius: 1em;
    overflow: hidden;
    display: table-cell
}

table, th, td {
    border-collapse: collapse
}

table {
    border: none
}

table caption {
    font-size: 2rem;
    margin: .5em
}

tr:nth-child(odd) {
    background-color: dimgray
}

th, td {
    padding: 1rem
}

td.today {
    background-color: khaki;
    color: black;
    border: thin solid slategray
}

tr.next {
    background-color: firebrick
}

th, td {
    border: thin solid slategray
}
