tbody {
    border-radius: 1em;
    overflow: hidden;
    display: table-cell
}

table, th, td {
    border-collapse: collapse
}

table {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border: none
}

table caption {
    font-size: 2rem;
}

tr:nth-child(odd) {
    background-color: gray
}

th, td {
    padding: 1rem
}

td.today {
    background-color: khaki;
    color: black;
    border: thin solid slategray
}

tr.next {
    background-color: firebrick
}

th, td {
    border: thin solid slategray
}
